{
  "#eslintIntegration": "不让prettier使用tslint的代码格式进行校验",
  "eslintIntegration": false,
  "#printWidth": "超过最大值换行",
  "printWidth": 100,
  "#tabWidth": "指定缩进长度",
  "tabWidth": 2,
  "#useTabs": "缩进不使用tab，使用空格",
  "useTabs": false,
  "#semi": "在行尾是否加分号",
  "semi": false,
  "#singleQuote": "使用单引号代替双引号",
  "singleQuote": true,
  "#quoteProps": "对象的key是否要加引号",
  "quoteProps": "as-needed",
  "#bracketSpacing": "是否在{和}的中间分别加入空格",
  "bracketSpacing": true,
  "#trailingComma": "是否在可能的多行中输入尾逗号",
  "trailingComma": "none",
  "#jsxBracketSameLine": "在多上JSX最后的>是否另起一行",
  "jsxBracketSameLine": false,
  "#jsxSingleQuote": "JSX中是否使用单引号替换双引号",
  "jsxSingleQuote": false,
  "#arrowParens": "(x) => {} 箭头函数参数只有一个时是否要有小括号。avoid：省略括号",
  "arrowParens": "always",
  "insertPragma": false,
  "#requirePragma": "文件顶部是否需要注释说明文件",
  "requirePragma": false,
  "#proseWrap": "文件的折行方式",
  "proseWrap": "never",
  "#htmlWhitespaceSensitivity": "html中空格的敏感性",
  "htmlWhitespaceSensitivity": "strict",
  "#endOfLine": "行尾换行样式",
  "endOfLine": "lf",
  "#ignorePath": "不使用prettier格式化的文件填写在项目的.prettierignore文件中",
  "ignorePath": ".prettierignore",
  "#bracketSpacing":"在对象，数组括号与文字之间加空格{ foo: bar }",
  "bracketSpacing": true,
  "#vueIndentScriptAndStyle": "vue的script标签内的空格缩进方式",
  "#disableLanguages": "示例：不格式化vue文件，vue文件的格式化单独设置： ['vue']"
}
